<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget</title>
<link rel="stylesheet"href="../css/forget.css">
</head>
<body>
    <h1 style="text-align:center;">Forget password</h1>
    <form method="post">
        <div class="products">
            <label>username:</label>
            <input type="text"name="name" required></div>
            <div class="products">
            <label> user email:</label>
            <input type="email"name="email"id="email" required></div>
            <div class="products">
            <label>Reset password:</label>
            <input type="password"name="new password" id=" new password"required></div>
    <div class="products">
            <label>confrim password:</label>
            <input type="password"name=" confrim password" id="confrim password"required>
        </div>
        <br>
        <button type="submit">submit</button>

     <a class="sign" href="../template/login.html">Back</a>
</body>
</html>