<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up |Dramatta</title>
    <link rel="stylesheet" href="../css/sign-up.css">
</head>
<body>
    <center>
        <div class="box2">
        <h1 class="out"><b>WELCOME TO DRAMATTA</b></h1>
        <h1 text-align="center">Sign-Up</h1>
        <form method="post">
            <div class="group">
            <label>username:</label>
            <input type="text"name="name"placeholder="Enter name"required>
            </div>

            <div class="group">
        <label>User e-mail:</label>
        <input type="text"id="text"placeholder="Enter email"required>
        </div>
        <div class="group">
        <label>password:</label>
        <input type="password"name="password"placeholder="Enter password"required>
        </div>
        <div class="group">
        <label>mobilenumber:</label>
         <input type="text"name="number"placeholder="Enter number"required>
        </div>
        <button type="submit">Sign-In</button>
    <br>
    <p text-align="center">
            <a href="#">already have an account  |</a>
     <a class="sign" href="../template/login.html">login</a>
    </p>
    </div>
    </center>  
</form>
</body>
</html>